* {
    box-sizing: border-box;
}
h1 {
    text-align: center;
    border: 4px solid red
}
h2 {
    text-align: center;
    box-shadow: 5px;
}
body {
    font-family: 'Times New Roman', Times, serif
}

/* .slideshow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
} */

#tooltip {
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 60px;
    height: 40px;
    background-color: white;
    border: 1px;
}

.annotation-note-title {
    font-size: 12px; /* Adjust title font size */
    font-weight: bolder;
    font-style: oblique;
}

.annotation-note-label {
    font-size: 12px;
    font-weight: bolder;
    font-style: oblique;
}

#ageHistogram {
    border: 5px red;
}